DATABASE_DB=contract_first
DATABASE_USER=contract_first
DATABASE_PASSWORD=mjga-local-development-only
DATABASE_HOST_PORT=localhost:5432
DATABASE_DEFAULT_SCHEMA=mjga_platform
DATABASE_EXPOSE_PORT=5432
DATABASE_STORE=contract-first-postgresql
PUBLIC_APP_NAME=Contract First Scaffold
WEB_EXPOSE_PORT=3000
